!*.background: #000000
!*.foreground: #bedebe
!*.cursorColor: #1a8b12
!
!*.color0: #282828
!*.color8: #494949
!
!*.color1: #bb6a67
!*.color9: #ce7d7a
!
!*.color2: #5ada5a
!*.color10: #5aaa5a
!
!*.color3: #cc9206
!*.color11: #bfae3f
!
!*.color4: #0733d3
!*.color12: #3657d0
!
!*.color5: #8a688c
!*.color13: #7c1c83
!
!*.color6: #3d766e
!*.color14: #7ac3ba
!
!*.color7: #676867
!*.color15: #989998

Xft.dpi: 96

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #1a8b12

! black
*.color0:       #000000
*.color8:       #555753

! red
*.color1:       #cc0000
*.color9:       #ef2929

! green
*.color2:       #4e9a06
*.color10:      #8ae234

! yellow
*.color3:       #c4a000
*.color11:      #fce94f

! blue
*.color4:       #3465a4
*.color12:      #729fcf

! magenta
*.color5:       #75507b
*.color13:      #ad7fa8

! cyan
*.color6:       #06989a
*.color14:      #34e2e2

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec

URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false
